lib/
report/
csrc/
db/
simv.daidir/
vcd/

check_fsearch_db
*.stat

*.log
*.key
*.syn
*.mr
*.svf
simv

run_1_behavior/*
!run_1_behavior/run_1_behavior.sh
!run_1_behavior/1_behavior_filelist

run_3_post/*
!run_3_post/run_3_post.sh
!run_3_post/3_post_filelist